@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
	:root {
		font-size: 15px;
	}
	* {
		font-family: 'Poppins';
	}
	body {
		/*background: #F7F6FB;*/
		background: #fff; 
	}

	#__next {
		min-height: 100vh;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
	}

	/*=================================================================================================
	LAYOUT
	=================================================================================================*/

	.clearfix::after {
		display: block;
		clear: both;
		content: "";
	}

	/* textos desbordados con ellipsis */
	.text-ellipsis {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 0;
	}

	.col-ellipsis {
		min-width: 0;
	}

	.col-ellipsis * {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 0;
	}

	.cols {
		@apply grid;
		@apply gap-4;
		@apply grid-cols-12;
	}

	.center-v {
		@apply flex;
		@apply items-center;
	}

	.collapse:not(.show) {
		display: none;
	}

	.collapsing {
		position: relative;
		height: 0;
		overflow: hidden;
		transition: height .35s ease;
	}

	/*=================================================================================================
	TYPOGRAPHY
	=================================================================================================*/

	h1 {
		@apply text-2xl;
		@apply font-bold;
		@apply mt-1;
		@apply mb-2;
	}

	h2 {
		@apply text-gray-900 font-bold text-4xl mb-4;
	}

	h3 {
		@apply text-3xl;
		@apply mb-2;
		@apply mt-4;
		@apply text-gray-500;
	}

	h3 strong {
		@apply font-bold;
		@apply text-4xl;
	}

	h4 {
		@apply text-xl;
		@apply font-bold;
	}

	p, label, input, select, .btn {
		@apply text-base;
		@apply text-black;
	}

	p {
		@apply my-4;
		@apply text-gray-500;
	}
}
